<nav class="header">
  <h1 id="title">
    <%= link_to 'Tessa in Hatfield', root_path %>
  </h1>
  <section>
    <ul id="menu">
      <li class="menu-item">
        <%= link_to 'Github', 'https://github.com/reInteractive-open' %> | 
      </li>
      <li class="menu-item">
        <%= link_to 'Twitter', 'https://twitter.com/' %>
      </li> | 

      <li class="menu-item">
        <%= link_to 'About me', '/about' %>
      </li>
    </ul>
  </section>
  <% if logged_in? %>
    <%= button_to "Log out", logout_path, method: :delete, :id => 'logout-button', :class => 'link-button' %>
  <% end %>

</nav>